@import "../../index";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-photo {
    border-radius: 300px;
    height: 300px;
    width: 300px;
    background-color: $col-feat2;
    background-image: url(../../images/profileSml.jpg);
    background-size: 110%;
    background-position: center;
    filter: drop-shadow(0px 0px 10px $col-shadow)
}
.about-text {
    display: block;
}

// breakpoint styling R4
@media screen and (min-width: $medium) {
    .about {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        .me-photo {
            width: 400px;
            height: 400px;
        }
        .about-text {
            width: 50%;
        }
    }
}