<!-- html structure for footer -->
<nav class="footer">
    <div class="footlinks">
        <a class="footlinks" target="_blank" href="https://github.com/Dunconius">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a class="footlinks" target="_blank" href="https://www.linkedin.com/in/duncan-bean-38439a130/">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a class="footlinks" target="_blank" href="https://www.instagram.com/dunconius.b/">
            <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
        
    </div>
</nav>