<nav class="navbar">
    <div class="logo"><a href="../index.html">
      <img src="../images/LOGO.svg" alt="Duncan Bean Logo"></a>
    </div>
    <div class="navlinkblock">
      <a class="navlink" href="../pages/about.html">
        <img class="navlink-image" src="../images/about.svg" alt="About">
        <div class="navlink-text">About</div>
      </a>
      <a class="navlink" href="../pages/blog.html"><img class="navlink-image" src="../images/blog.svg" alt="Blog">
        <div class="navlink-text">Blog</div>
      </a>
      <a class="navlink" href="../pages/contact.html"><img class="navlink-image" src="../images/contact.svg" alt="Contact">
        <div class="navlink-text">Contact</div>
      </a>
    </div>
  </nav>