// Navbar styles
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
       
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $col-feat1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: $col-wht;
    font-size: 60px;
    filter: drop-shadow(-7px 7px 1px $col-shadow);
}

.navlinkblock {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: $col-wht;
    width: 75%;
    border-radius: 20px 0px 0px 20px;
    filter: drop-shadow(-7px 7px 1px $col-shadow);
    margin-right: -30px;
    padding-right: 30px;
}
.navlinks {
    width: 200px;
    height: 60px;
    border-radius: 20px 0px 0px 20px;
    margin: 0px;
    padding: 0px 15px 0px 15px;
    background-image: linear-gradient(to right, $col-bg, $col-bg, $col-wht);
    display: flex;
    justify-content: start;
    align-items: center;
    color: $col-blk;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    font-style: italic;

}

.nav-placeholder {
    background-color: red;
}